<!--
The launch file for a single maxbot
-->

<launch>
    <master auto="start"/>
    <!-- The wifi handler -->
    <node pkg="arc_core" type="wifi_handler_node" name="wifi_handler">
        <param name="max_signal_range" value="5"/>
    </node>

    <!-- The communication manager -->
    <node pkg="arc_core" type="communication_manager" name="communication_manager" output="screen"></node>

    <!-- The victim tracker -->   
    <node pkg="arc_core" type="victim_tracker" name="victim_tracker" output="screen">
    </node>

    <!-- tasks this robot can perform -->
    <node pkg="arc_tasks" type="task_unguided_clean_debris_server" name="task_unguided_clean_debris_server" output="screen"/>
    <node pkg="arc_tasks" type="task_guided_clean_debris_server" name="task_guided_clean_debris_server" output="screen"/>
    <node pkg="arc_tasks" type="task_explore_server" name="task_explore_server" output="screen"/>

    <!-- the task handler that will manage task requests. -->
    <node pkg="arc_core" type="task_handler" name="task_handler">
    <rosparam param="valid_tasks">["explore", "unguided_clean_debris", "guided_clean_debris"]</rosparam>
    </node>

    <!-- THE CORE RECRUITMENT MANAGER OF ROBOT -->
    <node pkg="arc_recruitment_demos" type="minimal_recruitment_manager" name="recruitment_manager" output="screen">
    </node>
</launch>
