<!-- Demo of behaviour module. Multiple robots navigate around environment. This is manually controlled, as in the user toggles the behaviour. The robots behaviour is autonomous however. 

Start the maxbot.
rosservice call /arc/demo_maxbot_1/random_wander_ms/toggle "data: true"

Start the debrisbot: OH NO, there is debris in front of him though! Let's first enable the cleaning schema.
rosservice call /arc/demo_debrisbot_1/clean_debris_ms/toggle "data: true"

Now that the debris is clean, we can start the wandering.
rosservice call /arc/demo_debrisbot_1/random_wander_ms/toggle "data: true"

Our midbot is going to go around and drop some markers. Let's get him to pick up a couple.
rosservice call /arc/demo_midbot_1/handle_marker_ms/toggle "data: true"
Now pickup a couple markers by using this service 2 times.
rosservice call /arc/demo_midbot_1/handle_marker_ms/pickup_marker {}
rosservice call /arc/demo_midbot_1/handle_marker_ms/pickup_marker {}

Ok let's send out this midbot with the markers now. We'll deal with him later
rosservice call /arc/demo_midbot_1/random_wander_ms/toggle "data: true"

Now let's send out our explorers to explore!
rosservice call /arc/demo_minbot_1/random_wander_ms/toggle "data: true"

We send out the midbot a short while ago, let's drop some of the markers it has.
rosservice call /arc/demo_midbot_1/handle_marker_ms/drop_marker {}
NOTE: Also incorporate the accurate navigation in here, and show it all in rviz on one screen.
-->

<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find arc_stage)/maps/config/small_room.yaml" respawn="false" >
    <param name="frame_id" value="/map" />
  </node> 

<!-- ALL ARC RELATED COMPONENTS -->
<group ns="arc">
<!-- VISUALIZATION COMPONENTS -->
  <node pkg="arc_stage" type="arc_stage" name="arc_stage" args="-u $(find arc_stage)/world/demo_multirobot_behaviour.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
 <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arc_navigation)/multi_robot.rviz" /> -->

<!-- LAUNCH ROBOTS -->
<include file="$(find arc_control)/launch/robots/maxbot.launch">
	<arg name="robot_name" value="demo_maxbot_1"/>
</include>
<include file="$(find arc_control)/launch/robots/midbot.launch">
	<arg name="robot_name" value="demo_midbot_1"/>
</include>

<include file="$(find arc_control)/launch/robots/debrisbot.launch">
	<arg name="robot_name" value="demo_debrisbot_1"/>
</include>
<include file="$(find arc_control)/launch/robots/minbot.launch">
	<arg name="robot_name" value="demo_minbot_1"/>
</include>



</group>
</launch>
