<launch>
<!-- All content of ARC will be contained in the /arc namespace -->
    <group ns="arc">
        <group ns="test_bot">
	<!--	<include file="$(find arc_behaviour)"/launch/default.launch" />-->
	<!-- <include file="$(find arc_stage)/launch/default.launch" /> -->
		<include file="$(find arc_navigation)/launch/default.launch" /> 
        </group>
    </group>
</launch>
