<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find arc_stage)/maps/config/arc_small.yaml" respawn="false" >
    <param name="frame_id" value="/map" />
  </node>


<group ns="arc">
  <node pkg="arc_stage" type="arc_stage" name="arc_stage" args="-u $(find arc_stage)/world/test_multi_robot.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <!-- BEGIN ROBOT 0 -->
  <group ns="test_bot">

    <!-- BEHAVIOUR FOR ROBOT 0 -->
    <include file="$(find arc_behaviour)/launch/default.launch" />

    <param name="tf_prefix" value="test_bot" />

      <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
	  <param name="tf_prefix" value="test_bot" />
      <param name="odom_frame_id" value="test_bot/odom" />
      <param name="base_frame_id" value="test_bot/base_link" />
    </node>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find navigation_stage)/move_base_config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation_stage)/move_base_config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation_stage)/move_base_config/base_local_planner_params.yaml" command="load" />
    </node>
  </group>
  <!-- END ROBOT 0 -->

  <!-- BEGIN ROBOT 1 -->
<group ns="test_bot_2">

    <!-- BEHAVIOUR FOR ROBOT 0 -->
    <include file="$(find arc_behaviour)/launch/default.launch" />

    <param name="tf_prefix" value="test_bot_2" />

      <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
	  <param name="tf_prefix" value="test_bot_2" />
      <param name="odom_frame_id" value="test_bot_2/odom" />
      <param name="base_frame_id" value="test_bot_2/base_link" />
    </node>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find navigation_stage)/move_base_config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation_stage)/move_base_config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation_stage)/move_base_config/base_local_planner_params.yaml" command="load" />
    </node>
  </group>

  <!-- END ROBOT 1 -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/multi_robot.rviz" />

</group>
</launch>
