<!--
The launch file for a single minbot.
-->

<launch>
  <master auto="start"/>
  <arg name="robot_name" default="test_bot"/>
  

    <!-- BEHAVIOUR FOR ROBOT-->
    <node name="arc_base" pkg="arc_behaviour" type="arc_base">
	<rosparam param="schemas">["random_wander_ms", "handle_marker_ms"]</rosparam>
    </node>

    <node name="random_wander_ms" pkg="arc_behaviour" type="random_wander_ms">
	<rosparam param="frame_id">"map"</rosparam>
    </node>

    <!-- Perceptual Schemas -->
    <node name="detect_marker_ps" pkg="arc_behaviour" type="detect_marker_ps">
        <param name="max_range" value="5"/>
    </node>
    <node name="detect_robot_ps" pkg="arc_behaviour" type="detect_robot_ps">
        <param name="max_range" value="5"/>
    </node>
    <node name="detect_victim_ps" pkg="arc_behaviour" type="detect_victim_ps">
        <param name="max_range" value="6"/>
    </node>

    <node name="detect_debris_ps" pkg="arc_behaviour" type="detect_debris_ps">
        <param name="max_range" value="10"/>
    </node>

   <!-- motor schemas -->
   <node name="handle_marker_ms" pkg="arc_behaviour" type="handle_marker_ms">
	<param name="max_pickup_range" value="2"/>
	<param name="priority" value="2"/>
   </node>

    <node name="navigation_adapter" pkg="arc_behaviour" type="navigation_adapter">
    </node>

    <!-- NAVIGATION CONFIG -->
    <param name="tf_prefix" value="$(arg robot_name)" />
    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen"> 
	  <param name="tf_prefix" value="$(arg robot_name)" />
      <param name="odom_frame_id" value="$(arg robot_name)/odom" />
      <param name="base_frame_id" value="$(arg robot_name)/base_link" />
    </node> 

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find arc_navigation)/move_base_config/minbot_costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find arc_navigation)/move_base_config/minbot_local_costmap_params.yaml" command="load" />
      <rosparam file="$(find arc_navigation)/move_base_config/minbot_global_costmap_params.yaml" command="load" />
      <rosparam file="$(find arc_navigation)/move_base_config/minbot_base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find arc_navigation)/move_base_config/minbot_dwa_local_planner_params.yaml" command="load" />
    </node>
</launch>
