<!-- This is a test with 1 robot using 3 basic tasks.
You can toggle tasks by publishing to task_handler.
example: startup the guided clear debris task
____
rostopic pub /artest_bot/task_handler/task_requests arc_msgs/TaskRequest "task_id: 0
created: {secs: 0, nsecs: 0}
task_name: 'guided_clean_debris'                   
parameters:
  bools:
  - {name: '', value: false}
  ints:
  - {name: '', value: 0}
  strs:
  - {name: 'debris_list', value: '(1,9.06,6.43)|(13,3.04,12.12)|(4,14.74,15.65)'}
  doubles:
  - {name: '', value: 0.0}
  groups:
  - {name: '', state: false, id: 0, parent: 0}
request_type: 0" 
____
-->

<launch>
  <master auto="start"/>
  <arg name="robot_type" default="debrisbot"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find arc_stage)/maps/config/test/test_clean_debris_ms.yaml" respawn="false" >
    <param name="frame_id" value="/map" />
  </node> 


<group ns="arc">
<group ns="test_bot">
<!-- the tasks and behaviour -->
	<node pkg="arc_tasks" type="task_unguided_clean_debris_server" name="task_unguided_clean_debris_server" output="screen"/>
	<node pkg="arc_tasks" type="task_guided_clean_debris_server" name="task_guided_clean_debris_server" output="screen"/>
	<node pkg="arc_tasks" type="task_explore_server" name="task_explore" output="screen"/>
	<node pkg="arc_behaviour" type="move_to_goal_ms" name="move_to_goal_ms" output="screen"/>
<!-- actual task handler -->
	<node pkg="arc_core" type="task_handler" name="task_handler" output="screen">
        <rosparam param="valid_tasks">["explore", "unguided_clean_debris", "guided_clean_debris"]</rosparam>
    </node>

</group>
  <node pkg="arc_stage" type="arc_stage" name="arc_stage" args="-u $(find arc_stage)/world/test_clean_debris_ms.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <include file="$(find arc_control)/launch/robots/$(arg robot_type).launch">
	<arg name="robot_name" value="test_bot"/>
</include>
</group>
</launch>
