<!-- Testing the wifi handler on a robot. It should be able to publish and receive requests within some range.

Testing signal propagation: 
copy and send the following request below. This should call robot to publish an announcement...
The announcement should get published on /arc/wifi/announcements.
Since the same robot is subscribed to /arc/wifi/announcements, it will receive that announcement on /arc/wifi/announcements, and it will be published on 
/arc/test_bot/wifi_handler/incoming_announcements

rostopic pub /arc/test_bot/wifi_handler/outgoing_announcements arc_msgs/WirelessAnnouncement "header:
  seq: 0
  stamp:
    secs: 0
    nsecs: 0
  frame_id: ''
sender_location:
  position:
    x: 0.0
    y: 0.0
    z: 0.0
  orientation:
    x: 0.0
    y: 0.0
    z: 0.0
    w: 0.0" 

If you move the robot far away from point (0,0), it should stop receiving an incoming signal, since it will be published from (0,0) and the robot may be too far away.
Try putting the robot at position (6,0). It will not receive the signal if you send the same command above, as it's > 5 meters away from where signal came from.
-->



<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>


<group ns="arc/test_bot">
  <node pkg="arc_stage" type="arc_stage" name="arc_stage" args="-u $(find arc_stage)/world/test_small_empty_world.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <node pkg="arc_core" type="wifi_handler_node" name="wifi_handler">
    	<param name="max_signal_range" value="5"/>
  </node>
</group>
</launch>
