<!-- This is a test with 1 robot consisting of ALL of the behavioural features.
call the services on test_bot, however you like. Try to break it. Use all the functionality.
-->

<launch>
  <master auto="start"/>
  <arg name="robot_type" default="maxbot"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find arc_stage)/maps/config/small_room.yaml" respawn="false" >
    <param name="frame_id" value="/map" />
  </node> 


<group ns="arc">
<group ns="test_bot">
	<node pkg="arc_tasks" type="task_explore_server" name="task_explore_server" output="screen"/>
	<node pkg="arc_tasks" type="task_explore_client" name="task_explore_client" output="screen"/>

</group>
  <node pkg="arc_stage" type="arc_stage" name="arc_stage" args="-u $(find arc_stage)/world/test_small_empty_world.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <include file="$(find arc_control)/launch/robots/$(arg robot_type).launch">
	<arg name="robot_name" value="test_bot"/>
</include>
</group>
</launch>
